

<tr>
  <td><%= employee.name %></td>
  <td><%= employee.recieved_for?(@report.monday) %></td>
  <td>Tuesday</td>
  <td>Wedday</td>
  <td>Thursday</td>
  <td>Friday</td>
  <td>Saturday</td>
  <td>Sunday</td>
</tr>
